<launch>

<arg name="id" value="1" />

<group ns="g1">
<node name="core_launch" pkg="drcs" type="core.py" output="screen" launch-prefix="gnome-terminal --command">
  </node>
</group>

<group ns="g2">
<node name="core_launch" pkg="drcs" type="core.py" output="screen" launch-prefix="gnome-terminal --command">
  </node>
</group>

</launch>