<launch>

<arg name="id" value="1" />

<node name="core_launch" pkg="drcs" type="core.py" output="screen" launch-prefix="gnome-terminal --command">
  </node>

<node name="core-mc_bridge" pkg="drcs" type="core-mc_bridge.py" output="screen" launch-prefix="gnome-terminal --command">
  </node>

<node name="motion_algorythm" pkg="drcs" type="motion_algorythm.py" output="screen" launch-prefix="gnome-terminal --command">
  </node>

</launch>